/*
    DEMO STYLE
*/
html {
    scroll-behavior: smooth;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #010B11;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.navbar {
    padding: 15px 10px;
    background: linear-gradient(to bottom, #010B11 56%, rgba(0,0,0,0) 100%);
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
}

.navbar a {
    color: #EAEAEA;
}

.navbar a:hover {
    color: #0A283A;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    margin: 58px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    padding: 6em;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#experience {
    margin-top: 8em;
}

.date, h4 {
    color: #EAEAEA;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}